<div class="layout-container">
    <div class="sidebar" *ngIf="loginComponent.isLoggedIn">  
      <!-- Sidebar Content -->
      <ul class="sidebar-menu">
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/vehicles">Vehicles</a></li>
        <li><a routerLink="/leasing-contracts">Leasing Contracts</a></li>
      </ul>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  