<p-toast></p-toast>
<p-panel header="Model List">
  <p-table [value]="models" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Brand</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-model>
      <tr class="p-datatable-rowfont-bold">
        <td>{{ model.name }}</td>
        <td>{{ model.brand.name }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-primary" (click)="showEditDialog(model)"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteModel(model)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton type="button" label="Add Model" (click)="showAddDialog()"
          class="p-button-rounded p-button-success"></button>
  <p-toast></p-toast>
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [baseZIndex]="10000" [closable]="false" #confirmDialog>
    <p-footer>
      <button pButton type="button" label="No" (click)="confirmDialog.reject()" class="p-button-danger"></button>
      <button pButton type="button" label="Yes" (click)="confirmDialog.accept()"></button>
    </p-footer>
  </p-confirmDialog>

  <p-dialog [(visible)]="displayDialog" [modal]="true" [style]="{ width: '50%', height: '70%' }">
    <p-header>
      {{ selectedModel && selectedModel.id ? 'Edit Model' : 'Add Model' }}
    </p-header>

    <form [formGroup]="modelForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="brand">Brand</label>
          <p-dropdown id="brand" [options]="brands" optionLabel="name" formControlName="brand"
                      [placeholder]="'Select One'" [style]="{ width: '100%' }"></p-dropdown>
        </div>

        <div class="p-field">
          <label for="name">Name</label>
          <input id="name" type="text" pInputText formControlName="name" required>
        </div>
      </div>
    </form>

    <p-footer>
      <button *ngIf="selectedModel && selectedModel.id" type="button" pButton icon="pi pi-save" (click)="saveModel()" label="Save"></button>
      <button *ngIf="!selectedModel || !selectedModel.id" type="button" pButton (click)="saveModel()" label="Add"></button>
      <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancel" class="p-button-secondary"></button>
    </p-footer>
  </p-dialog>
</p-panel>
