.container {
    padding: 20px;
}

.p-dialog {
    min-width: 300px;
}

.p-field {
    margin-bottom: 1rem;
}

h1 {
    margin-bottom: 20px;
}

p-table {
    margin-bottom: 20px;
}

.p-dialog-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.p-dialog-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}
