<div class="container">
  <h1>User List</h1>

    <p-table [value]="users" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header">
        <tr>
          <th>Username</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.username }}</td>
          <td>
            <button type="button" pButton icon="pi pi-pencil" class="p-button-rounded p-button-primary" (click)="editUser(user)"></button>
            <button type="button" pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteUser(user)"></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <button type="button" pButton label="Add User" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="showDialogToAdd()"></button>
  
    <p-dialog header="{{ isNewUser ? 'Add User' : 'Edit User' }}" [(visible)]="displayDialog" [modal]="true">
      <div class="user-dialog">
        <div class="form-field">
          <label for="username">Username:</label>
          <input type="text" pInputText id="username" [(ngModel)]="user.username" />
        </div>
        <div class="form-field">
          <label for="password">Password:</label>
          <input type="password" pPassword id="password" [(ngModel)]="user.password" />
        </div>
        <div class="form-field">
          <label for="roles">Roles:</label>
          <p-multiSelect [options]="roles" [(ngModel)]="selectedRoles" optionLabel="name"></p-multiSelect>
        </div>
      </div>
      <button type="button" pButton label="Save" (click)="saveUser()" class="save-button"></button>
      <button type="button" pButton label="Cancel" (click)="cancel()" class="cancel-button"></button>
    </p-dialog>
  </div>
  