<div class="container">
  <h1>Leasing Contract List</h1>

  <p-table [value]="leasingContracts" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Contract Number</th>
        <th>Monthly Rate</th>
        <th>Customer</th>
        <th>Vehicle</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contract>
      <tr>
        <td>{{ contract.contractNumber }}</td>
        <td>{{ contract.monthlyRate }}</td>
        <td>{{ contract.customerInfo}}</td>
        <td>{{ contract.vehicleInfo}}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-primary" (click)="showEditDialog(contract)"></button>
          <p-confirmDialog></p-confirmDialog>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteLeasingContract(contract)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton type="button" label="Add Leasing Contract" icon="pi pi-plus" class="p-button-rounded p-button-success" (click)="showAddDialog()"></button>
  <p-toast></p-toast>
  <p-dialog header="{{ editMode ? 'Edit Leasing Contract' : 'Add Leasing Contract' }}" [(visible)]="displayDialog"
  [modal]="true">
  <ng-container *ngIf="selectedLeasingContract">
    <form [formGroup]="leasingContractForm">
      <div class="form-field">
        <label for="contractNumber">Contract Number</label>
        <input id="contractNumber" type="text" pInputText formControlName="contractNumber" required />
      </div>
      <div class="form-field">
        <label for="monthlyRate">Monthly Rate</label>
        <input id="monthlyRate" type="number" pInputText formControlName="monthlyRate" required />
      </div>
      <div class="form-field">
        <label for="customer">Customer</label>
        <p-dropdown id="customer" [options]="customers" optionLabel="label" formControlName="customer" defaultLabel="Select One"></p-dropdown>
      </div>
      <div class="form-field">
        <label for="vehicle">Vehicle</label>
        <p-dropdown id="vehicle" [options]="vehicles" optionLabel="label" formControlName="vehicle" defaultLabel="Select One"></p-dropdown>
      </div>
    </form>
  </ng-container>
  <button pButton type="button" (click)="saveLeasingContract()" label="Save"></button>
  <button pButton type="button" (click)="cancel()" label="Cancel"></button>
</p-dialog>
</div>
