<p-panel header="Vehicle List">
  <p-table [value]="vehicles" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>Brand</th>
        <th>Model</th>
        <th>Model Year</th>
        <th>VIN</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicle>
      <tr class="p-datatable-rowfont-bold">
        <td>{{ vehicle.brand.name }}</td>
        <td>{{ vehicle.model.name }}</td>
        <td>{{ vehicle.modelYear }}</td>
        <td>{{ vehicle.vin || '-' }}</td>
        <td>{{ formatCurrency(vehicle.price) }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-primary"
                  (click)="showEditDialog(vehicle)"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="deleteVehicle(vehicle)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button pButton type="button" label="Add Vehicle" (click)="showAddDialog()"
          class="p-button-rounded p-button-success"></button>
  <p-toast></p-toast>

  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" [baseZIndex]="10000" [closable]="false" #confirmDialog>
    <p-footer>
      <button pButton type="button" label="No" (click)="confirmDialog.reject()" class="p-button-danger"></button>
      <button pButton type="button" label="Yes" (click)="confirmDialog.accept()"></button>
    </p-footer>
  </p-confirmDialog>

  <p-dialog [(visible)]="displayDialog" [modal]="true" [responsive]="true" [style]="{ width: '400px' }">
    <p-header>
      {{ selectedVehicle && selectedVehicle.id ? 'Edit Vehicle' : 'Add Vehicle' }}
    </p-header>

    <form [formGroup]="vehicleForm">
      <div class="p-fluid">
        <div class="p-field">
          <label for="brand">Brand</label>
          <p-dropdown id="brand" [options]="brands" optionLabel="name" formControlName="brand"
                      [placeholder]="'Select One'" (onChange)="onBrandSelectionChange($event)" [style]="{ width: '100%' }"></p-dropdown>
        </div>

        <div class="p-field">
          <label for="model">Model</label>
          <p-dropdown id="model" [options]="modelsFilteredByBrand" optionLabel="name" formControlName="model"
                      [placeholder]="'Select One'" [style]="{ width: '100%' }"></p-dropdown>
        </div>

        <div class="p-field">
          <label for="modelYear">Model Year</label>
          <input id="modelYear" type="text" pInputText formControlName="modelYear" required>
        </div>

        <div class="p-field">
          <label for="vin">VIN</label>
          <input id="vin" type="text" pInputText formControlName="vin">
        </div>

        <div class="p-field">
          <label for="price">Price</label>
          <input id="price" type="number" pInputText formControlName="price" required>
        </div>
      </div>
    </form>

    <p-footer>
      <button *ngIf="selectedVehicle && selectedVehicle.id" type="button" pButton icon="pi pi-save"
              (click)="saveVehicle()" label="Save"></button>
      <button *ngIf="!selectedVehicle || !selectedVehicle.id" type="button" pButton
              (click)="saveVehicle()" label="Add"></button>
      <button type="button" pButton icon="pi pi-times" (click)="cancel()" label="Cancel" class="p-button-secondary">
      </button>
    </p-footer>
  </p-dialog>
</p-panel>
